<div class="mb-2 row">
    <label for="inputAuthor" class="col-sm-2 col-form-label">
        <b>Author</b></label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="inputAuthor" placeholder="enter author name">
    </div>
  </div>
  <div class="mb-2 row">
    <label for="inputCategory" class="col-sm-2 col-form-label" >
        <b>Category</b></label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="inputCategory" placeholder="enter category">
    </div>
  </div>
  <div class="mb-2 row">
    <label for="inputPrice" class="col-sm-2 col-form-label" >
        <b>Price</b></label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="inputPrice" placeholder="enter price">
    </div>
  </div>
  <input class="btn btn-primary" type="search" value="search">